body, html {
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header, .projects {
  width: 100%;
  max-width: 1024px;
}

.second-line, .list-projects {
  display: flex;
  flex-wrap: wrap;
}

h1, h3 {
  text-align: right;
  margin: auto;
}

h3, .list-element {
  flex-grow: 1;
}

.icon {
  width: 26px;
  height: 26px;
}

.list-element {
  height: 100%;
  min-width: 200px;
  text-align: center;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.preview-pic {
  max-width: 300px;
  max-height: 200px;
  clip: auto;
  margin: 8px;
}

@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 450px) {
   body {
      font-size: 0.75em;
   }
}
